<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css" />

    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   
<script src="exitCtrl.js"></script>
</head>
<body ng-app="app">
<h1>{{title}}</h1>
<p>"Choose your choice" </p>
<button class="btn btn-primary btn-lg btn-block" ng-click="go()" >Purchase again</button>
<button class="btn btn-primary btn-lg btn-block" ng-click="run()">Logout</button>
</body>
</html>